{% extends "template.html" %}
{% block content %}
	<div class="jumbo">
		<h2>Home</h2>
		<br/>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consectetur bibendum velit vel elementum. Pellentesque sed dui vel lacus accumsan volutpat. Cras non libero eu urna varius fermentum. Sed nisl nisi, auctor eget tincidunt sit amet, laoreet at ipsum. Donec sollicitudin lorem sed neque dignissim eget tempus mi facilisis. Nam ac aliquam lectus. Ut consectetur, nisl et iaculis blandit, mauris diam fringilla diam, sit amet ultrices eros lorem vel metus. Maecenas euismod purus non libero pulvinar in fringilla purus ultrices. Fusce vel egestas ipsum. Nunc ullamcorper porttitor sem vel porttitor.</p>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sollicitudin justo ac lorem egestas mattis. Donec eget tellus a elit ullamcorper ornare. Phasellus neque lectus, hendrerit in porta at, suscipit et metus. Ut quam elit, consectetur vitae rhoncus vitae, faucibus non turpis. Etiam hendrerit facilisis imperdiet. Fusce ac enim sapien. Praesent risus purus, ullamcorper vitae ultrices in, lacinia at erat. Integer fringilla laoreet dapibus. Etiam ac metus nec tellus tempus faucibus. Donec in diam vel sem vestibulum ullamcorper. Curabitur at enim orci.</p>
	</div>
{% endblock %}