{% extends "template.html" %}
{% block content %}
  <div class="page">
  <h1>Welcome to FlaskTaskr.</h1>
  <h3>Please login to access your task list.</h3>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form action="" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username value="{{
          request.form.username }}">
      <dt>Password:
      <dd><input type=password name=password>
    </dl>
    <p><input type=submit value=Login>
  </form>
  <p>Use 'admin' for the username and password.
</div>
{% endblock %}
