<!DOCTYPE html>
<html>
  <head>
    <title>FlaskTaskr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <br/>
    <div class="container">
      {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
      {% endfor %}
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>

